<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.title %></a> <small>(by: <%= song.author %>)</small></h3>
    <a href="<%= song.url %>"><%= song.url %></a>
  </div>
<% end %>

<hr/>
<a href="/songs/new">Post a song... It's FREE (for now)!</a>